# Define Aurora/Odyssey NSS as C (probably the closest)
*.nss linguist-language=C
# Flag compiled scripts, 2DAs, models, textures, GFF, container formats, etc. as binary
*.2da binary
*.are binary
*.bik binary
*.dds binary
*.dlg binary
*.dwk binary
*.erf binary
*.git binary
*.ifo binary
*.jrl binary
*.lip binary
*.mdl binary
*.mdx binary
*.mod binary
*.ncs binary
*.pth binary
*.pwk binary
*.rim binary
*.tga binary
*.tlk binary
*.tpc binary
*.utc binary
*.utd binary
*.uti binary
*.utm binary
*.utp binary
*.uts binary
*.utt binary
*.utw binary
*.wav binary
*.wok binary
*.rtf binary
