# Untracked files to ignore/not include in repo. See https://git-scm.com/docs/gitignore

# RTF MS Word temp file
~$*.rtf*

# Flag compiled scripts, 2DAs, models, textures, GFF, container formats, etc. for non-inclusion in public repo
*.tmp
